name: Manually trigger an Azure Machine Learning job

on:
  push:
    branches:
      - main
    paths:
      - 'src/model/**'
      - 'src/job.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'src/model/**'
      - 'src/job.yml'
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}


